<div data-syntax="{{syntax}}" class="code-listing">
  <div class="container-general">
    <pre><code class='language-swift'>{{#lines}}<span class="code-line-container"><span data-line-number="{{{line}}}" class="code-number" style="display: none;"></span><span class="code-line">{{code}}</span></span>
{{/lines}}</code></pre>
  </div>
</div>
