<section id='declaration' class='declaration'>
  <h2>{{title}}</h2>
  <div class='declaration-group'>
    <pre class='source indented'><code class='language-swift'>{{{tokensHTML}}}</code></pre>
  </div>
</section>
