{{{navigationHTML}}}
<main id="main" role="main" class="main">
  {{{topicTitleHTML}}}
  {{{primaryContentHTML}}}
  {{#sectionsContentHTML}}
    <div class="sections">{{{sectionsContentHTML}}}</div>
  {{/sectionsContentHTML}}
  {{{topicSectionsHTML}}}
  {{{seeAlsoHTML}}}
</main>
