<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" />
    
    <title>{{title}}</title>
    
    <link rel="icon"       href="{{{relativePathToRoot}}}favicon.ico" />
    <link rel="mask-icon"  href="{{{relativePathToRoot}}}favicon.svg" color="#333333" />
    <link rel='stylesheet' href='{{{cssPath}}}site.css' />
    <style>
      @import "{{{highlightCDN}}}/styles/default.min.css" screen;
      @import "{{{highlightCDN}}}/styles/dark.min.css" screen and (prefers-color-scheme: dark);
    </style>
    <script src="{{{highlightCDN}}}/highlight.min.js"></script>
    <script src="{{{highlightCDN}}}/languages/swift.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="doc-topic">
        {{{contentHTML}}}
      </div>
    </div>
    <footer class="footer">{{{footerHTML}}}</footer>
    <script>hljs.highlightAll();</script>
  </body>
</html>
