<section id="parameters" class="parameters">
  <h2>{{title}}</h2>
  <dl>
    {{#parameters}}
      <dt class="param-name"><code class='language-swift'>{{name}}</code></dt>
      <dd class="param-content">
        <div class="content">{{{contentHTML}}}</div>
      </dd>
    {{/parameters}}
  </dl>
</section>
