<div class="container content-grid">
  <div class="description">
    <div class="abstract content">
      {{{abstractHTML}}}
    </div>
  </div>
  
  <!-- The sidebar once we have one: <div class="summary"></div> -->
  
  <div class="primary-content">
    {{{contentHTML}}}
  </div>
</div>
